p {
	margin: 0px;
	padding: 0px;
	color:  #ffc274;
	font-size: 15px;
}
body {
	background: url(../img/bi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.conteiner {
	width: 450px;
	height: 300px;
	margin: 50px auto;
}

.login-section {
	background-color: #fff2de;
	padding: 6% 10%;

}

.login-section img { margin: 0px auto;
	display: block;


}

.login-section h3 {
	text-align: center;
	color: #ff995c;
	font-size: 30px;
	}

.form-control {
	width: 45%;
	height: 50%;
	padding: 5px;
	margin-bottom: 8px;
}	

.form-control1 {width: 95%;
	height: 50%;
	padding: 5px;
	margin-bottom: 8px;

}

.btn {
	margin: 2px 80.33%;
	display: block;
	background: #337ae4;
	padding: 8px 15px;
	opacity: 0.9;
	color: white;
	text-transform: uppercase;
	transition: 0.8s ease;
}
